.formWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
}

.formInner input {
  margin: 0.6rem 0;
  padding: 1rem;
  width: 85%;
  border: 2px solid #eeeeff;
  outline-color: #999;
  border-radius: 1.1rem;
  font-size: 1rem;
}

@media (max-width: 380px) {
  .formInner input {
  }
}

.formInner input[type='submit'] {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

.container {
  color: #fff;
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}
