.header {
  background: #333;
  color: #fff;
  position: sticky;
  top: 0;
  padding: 1.5rem;
}

.navbarList {
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.navbarList li {
  margin: 0 1rem;
}

.navbarList :first-child {
  margin-left: 0;
}
