.table {
  border-collapse: collapse;
  margin: 25px 0 !important;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  width: 100%;
}

.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px !important;
}

.table tbody tr {
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  transition: all 0.15s ease;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.focus:hover {
  font-weight: bold;
  background-color: #cbe6f1 !important;
}

.button {
  padding: 1rem;
  border: 1px solid #999;
  border-radius: 1rem;
  background-color: transparent;
  cursor: pointer;
  margin: 0.25rem;
}
